*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.toolbox{
    display: flex;
    width: 100vw;
    height:12vh;
    background-color: #4CACBC;
    align-items: center;
   

}
.priority-color{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 height: 7vh;
 width: 30vw;
 background-color: #A0D995;
 margin-left: 2rem;
 border-radius: 19px
 
}

.tools{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
 width: 12vw;
 background-color: #A0D995; 
 margin-left: 2rem;
 border-radius: 19px;
}


.red{
    background-color: red;
}
.black{
    background-color: black;
}
.blue{
    background-color: blueviolet;
}
.pink{
    background-color: pink;
}
.color{
    height: 4vh;
    width: 6vw;
}
.ticket-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 88vh;
    width: 100vw;
    background-color: #F6E3C5;
}




.ticket-adder{
    display: none;
    position: fixed;
    top: 10rem;
    left: 30rem;
    
    background-color: wheat;
    height: 16rem;
    width: 31rem;
    justify-content: space-between;
}

.text-part{
    height: 16rem;
    width: 22rem;
    background-color: black;
}
#text-adder{
   
    resize: none;
    height: 16rem;

    width : 22rem;
    padding: 1rem;
    font-size: x-large;
    outline: none;
    border: none;
}
.inital-color{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 1rem;
    background-color: wheat;
}



.ticket{
    margin-top: 2rem;
    background-color: whitesmoke;
    height: 11rem;
    width: 15rem;
    border-radius: 19px;
}
.current-color{
    height: 1.5rem;
   
}
.unique{
    height: 1.5rem;
    padding: 0.3rem;
    font-size: small;
}
.task-part{
   
    background-color: #6CC4A1;
    min-height: 6.5rem;
    font-size: larger;
    padding: 0.5rem;
    word-break: break-all;
    word-wrap: break-word;

}


.border{
    border: 4px solid #4CACBC ;
}
.lock{
margin-left: 13rem;
}